<!-- Config file for the game -->
<config>
  <app framerate_cap="30">
    <title>Salty the Slime</title>
    <organization>UPC</organization>
    <save_file>save_game.xml</save_file>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <entity_manager>
    <player>
      <sprite>player_spritesheet.png</sprite>
      <folder>textures</folder>
      <movement_speed value="600.0F"/>
      <jump_speed value="1500.0F"/>
      <fall_speed value="1500.0F"/>
      <acceleration value="0.8F"/>
      <gravity value="2200.0F"/>
      <charged_jump time="4.0F" max_charge="1000.0F" charge_increment="300.0F"/>
      <collider width="94" height="53" offset="40"/>
      <audio>
        <jump_fx>fx_jump.wav</jump_fx>
      </audio>
      <animations count="6">
        <idle speed="5.0F">
          <frame x="17" y="36" width="94" height="92"/>
          <frame x="143" y="35" width="98" height="92"/>
          <frame x="270" y="33" width="101" height="92"/>
        </idle>
        <move speed="5.0F">
          <frame x="16" y="164" width="99" height="92"/>
          <frame x="140" y="163" width="107" height="92"/>
          <frame x="267" y="163" width="110" height="92"/>
          <frame x="397" y="160" width="103" height="92"/>
        </move>
        <jump speed="8.0F" loops="false">
          <frame x="1037" y="143" width="98" height="92"/>
        </jump>
        <die speed="5.0F">
          <frame x="772" y="547" width="115" height="92"/>
          <frame x="899" y="547" width="118" height="92"/>
          <frame x="1026" y="547" width="121" height="92"/>
        </die>
        <charge speed="10.0F">
          <frame x="17" y="292" width="94" height="92"/>
          <frame x="143" y="292" width="96" height="92"/>
          <frame x="270" y="292" width="98" height="92"/>
        </charge>
        <win speed="5.0F">
          <frame x="652" y="292" width="103" height="92"/>
          <frame x="525" y="292" width="102" height="92"/>
          <frame x="397" y="292" width="102" height="92"/>
        </win>
      </animations>
    </player>
    <enemy>
      <sprite>dead_buny_floor_spritesheet.png</sprite>
      <folder>textures</folder>
      <movement_speed value="400.0F"/>
      <jump_speed value="1400.0F"/>
      <fall_speed value="1400.0F"/>
      <acceleration value="0.8F"/>
      <gravity value="2200.0F"/>
      <collider width="39" height="37" offset="0"/>
      <chase_distance value="800.0F"/>
      <animations count ="3">
        <idle speed="5.0F">
          <frame x="14" y="1" width="39" height="37"/>
          <frame x="71" y="1" width="39" height="37"/>
        </idle>
        <move speed="5.0F">
          <frame x="11" y="43" width="39" height="37"/>
          <frame x="69" y="46" width="39" height="37"/>
          <frame x="125" y="45" width="39" height="37"/>
          <frame x="182" y="41" width="39" height="37"/>
        </move>
        <jump speed="8.0F" loops="false">
          <frame x="8" y="91" width="39" height="37"/>
          <frame x="64" y="86" width="39" height="37"/>
          <frame x="123" y="81" width="39" height="37"/>
          <frame x="182" y="81" width="39" height="37"/>
        </jump>
      </animations>
    </enemy>
    <flying_enemy>
      <sprite>dead_bat_spritesheet.png</sprite>
      <folder>textures</folder>
      <movement_speed value="400.0F"/>
      <acceleration value="0.8F"/>
      <collider width="42" height="30" offset="0"/>
      <chase_distance value="700.0F"/>
      <animations count ="1">
        <idle speed="10.0F">
          <frame x="6" y="8" width="42" height="30"/>
          <frame x="59" y="8" width="42" height="30"/>
          <frame x="112" y="8" width="42" height="30"/>
          <frame x="164" y="8" width="42" height="30"/>
          <frame x="217" y="7" width="42" height="30"/>
          <frame x="270" y="8" width="42" height="30"/>
          <frame x="323" y="8" width="42" height="30"/>
          <frame x="375" y="8" width="42" height="30"/>
        </idle>
      </animations>
    </flying_enemy>
  </entity_manager>
  
  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene>
    <start_scene value="0"/>
    <levels>
      <level music="music_forest.ogg">lvl_1.tmx</level>
      <level music="music_desert.ogg">lvl_2.tmx</level>
    </levels>
  </scene>
 

  <collision>
    <max_colliders value="200"/>
  </collision>

  <map>
    <folder>maps</folder>
  </map>

  <audio>
    <fx_folder>audio/fx</fx_folder>
    <music_folder>audio/music</music_folder>
    <music_volume value="25"/>
    <fx_volume value="25"/>
  </audio>

</config>