<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene_forest>
    <map_file>lvl_1.tmx</map_file>
	  <background>BG.png</background>
  </scene_forest>
  
  <scene2>
    <map_file>test2.tmx</map_file>
	  <background>BG.png</background>
  </scene2>

  <player>
    <folder>textures/</folder>
    <sprite>player_spritesheet.png</sprite>
    <movement_speed value="10.0F"/>
    <jump_speed value="20.0F"/>
    <threshold value="1.0F"/>
    <acceleration value="0.1F"/>
    <gravity value="1.0F"/>
    <animations>
      <idle speed="0.1F">
        <frame x="17" y="75" width="94" height="53"/>
        <frame x="143" y="76" width="98" height="52"/>
        <frame x="270" y="78" width="101" height="50"/>
      </idle>
      <move speed="0.1F">
        <frame x="16" y="201" width="99" height="55"/>
        <frame x="140" y="202" width="107" height="54"/>
        <frame x="267" y="203" width="110" height="54"/>
        <frame x="397" y="204" width="103" height="51"/>
      </move>
      <jump speed="0.3F">
        <frame x="784" y="192" width="98" height="92"/>
        <frame x="909" y="150" width="98" height="92"/>
        <frame x="1037" y="143" width="98" height="92"/>
      </jump>
    </animations>
  </player>

  <map>
    <folder>maps/</folder>
  </map>

</config>